@charset "utf-8";
/* CSS Document */
/*  
Dark background color  		#273640
Active background color  	#00426b
Highlight color 			#114f80
#f0f6fb
*/



/*--- ##########################################  03-29-2021 Style to fix blue telphone links in Safri on phones --- */

a[href^=tel] { text-decoration:inherit; color: inherit; }

/*--- ##########################################  05-25-2017 DOS changes For Accessibility issues  Add this to old CSS file --- */

.accessibility-aid { height:1px; width:1px; position:absolute; overflow:hidden; top:-10px }


/*Top of Page*/

.back-to-top { cursor: pointer; position: fixed; bottom: 20px; right: 20px; display:none; background-color: #ffffff; border-radius: 4px; border: 1px solid #888888; color: #707070; font-size: 0.9rem; line-height: 1rem; outline: none; padding: 10px 15px; z-index: 99; }

.njdos-logo   { max-height: 69px; float:right; }

/*--- ##########################################  Home page Styles --- */
.home-row1  								{ background: #00426b; background-color: #00426b; margin-top: 0px; padding-top: 10px; padding-bottom: 10px; }
.home-row1	.secretary  					{ margin: 20px 0; }
.home-row1	.secretary  .sos-sm				{ margin: 20px 0 20px 0; }

.home-row2  								{ background-color: #f0f6fb;  background: #f0f6fb;  margin-top: 0px; padding-top: 5px; padding-bottom: 0px; }
.home-row2	.row-news  						{ margin-bottom: 35px;}

.home-row3  								{ background: #fff; background-color: #fff; margin-bottom: 0px; padding-bottom: 0px; }
.home-row3	.row-sc  						{ margin: 0; background: #fff; background-color: #fff; padding: 5px 0px 5px 0px;}

.home-row19  								{ background-color: #f0f6fb;  background: #f0f6fb;  margin-top: 0px; padding-top: 5px; padding-bottom: 0px; }
.home-row19	.row-covid  					{ margin-bottom: 15px}
	
.home-rowphone  							{ background-color: #f0f6fb;  background: #f0f6fb;  margin: 0px; padding: 0px; }
.home-rowphone	.row-phone  				{ margin: 5px; 0px 5px 10px; background-color: #f0f6fb;  background: #f0f6fb; }

/*  ##################################################################################################  */

.sos-box > h4 										{ color:white; margin: 0 ; padding: .4em 1em; font-weight: normal; text-align:left;}

.news-box, 
.facebook-box, 
.twitter-box 											{ /*background-color:#fff;*/ }

.sos-box  > .wrapper 							{ border: 1px solid #9c9c9c; max-height: 500px; height: 500px; overflow: hidden; background-color: #fff; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;  }

.news-box > h4 										{ background-color:#00426b; }
.news-box > .wrapper 							{ overflow-y:scroll; padding: 10px; margin: 0 0 10px 0;}

.facebook-box > h4 								{ background-color:#17548d; }
.facebook-box .wrapper 						{ border: 1px solid #9c9c9c; max-height: 500px; height: 500px;  border-radius: 7px; text-align:center; padding: 0px; margin: 0 0 10px 0; }

.twitter-box > h4 								{ background-color:#479ae8; }
.twitter-box > .wrapper 					{ overflow-y:scroll; border: 1px solid #9c9c9c; max-height: 500px; height: 500px;  border-radius: 7px; margin: 0 0 10px 0; }


/*@media all and (max-width: 900px) {
  .news-box > .wrapper 						{ padding-bottom: 10px;}
	.facebook-box .wrapper 					{ padding-bottom: 10px;}
	.twitter-box > .wrapper 	 			{ padding-bottom: 10px;}
}


border-bottom-right-radius: 5px;
.sos-box .twitter-box {}
.fb-root {background-color: #fff;}*/

/*---####################################### Social Directory --*/
.sos-gray {color:#888888;}
.sos-gray-twitter:hover, a:focus .fa-twitter			{color:#1da1f2;}
.sos-gray-facebook:hover, a:focus .fa-facebook		{color:#3b5998;}
.sos-gray-instagram:hover, a:focus .fa-instagram	{color:#c32aa3;}
.sos-gray-youtube:hover, a:focus .fa-youtube			{color:#ff0000;}
/*.fa-pinterest-square:hover, a:focus .fa-pinterest-square{color:#bd081c;}
.fa-flickr:hover, a:focus .fa-flickr{color:#f40083;}
.fa-linkedin:hover, a:focus .fa-linkedin{color:#007bb5;}
.fa-tumblr-square:hover, a:focus .fa-tumblr-square{color:#35465d;}*/


var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '390',
    width: '640',
    videoId: 'M7lc1UVf-VE',
    playerVars: {
      'playsinline': 1
    },
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}



/*--- ##########################################  Navigation  Mods to State Styles --- */

header.sonj 											{ background: #273640; background-color: #273640; }
header.sonj .statewide  .drop			{ background: #273640; }

.sonj-nav													{ background: #00426b; }
.sonj-nav .nav-link.active, .sonj-nav  .show >.nav-link, .sonj-nav li > a:hover { color: #fff; background: #1869a8; }
.sonj-nav .dropdown-item:focus, .sonj-nav .dropdown-item:hover { color: #fff; text-decoration: none; background-color: #1869a8; }
.sonj-nav .dropdown-item, .sonj-nav .dropdown-item { background-color: #f0f6fb; }

/*--- ##########################################  Carousel  Mods to State Styles --- */
.carousel.sonj .carousel-caption a { color: #ffffff; }



/*--- ##########################################  FOOTER Mods to State Styles --- */
footer.sonj, footer .sonj-footer { background: #273640; background-color: #273640; }
footer.site, footer .site-footer { background: #00426b; background-color: #00426b; }
img.digital-nj{ opacity: .95; }
footer.sonj a { color: #ffffff; }
.footer.site h3, .footer.site-footer h3 { padding: 20px 0 10px 0px; margin: 3px 0px 30px 0px; color: #fff; width: 100%; border-bottom: 2px solid #fff; font-size: 1.45rem; }

/*--- ##########################################  BREADCRUMBS  Mods to State Styles --- */
.breadcrumb { padding: 15px 15px 15px 15px;  }/**/

/*--- ##########################################  BREADCRUMBS  Mods to State Styles --- */
/* Site Title Department - Division - Program */

#site-name{}
#site-name.agency{}
#site-name.agency span.agency { font-size: 1.75rem; font-weight: bold; }

/*.agency    { }*/
.agency  H2 { line-height: 24px;}	
.agency  H5 { line-height: 10px; margin-top: 5px;}	
.agency  H6 { line-height: 10px;}		
.agency     { background-color: #f0f6fb;}


/*.department    { }*/
.department H2 { line-height: 24px; margin-top: 15px;}		
.department H6 { line-height: 10px;}		
.department    { background-color: #f0f6fb;}


#site-name{}
#site-name.vote{}
#site-name.vote, span.vote { font-size: 1.75rem; font-weight: bold; background-color: #f0f6fb;  background: #f0f6fb;  }

/*.vote    { }*/
.vote  H2 { line-height: 24px;}	
.vote  H5 { line-height: 10px; margin-top: 5px;}	
.vote  H6 { line-height: 10px;}		
.vote     { background-color: #f0f6fb;}


/*----------- Right Nav -------------------------- */

.sos a					{ width: 100%; }
.sos a:hover 		{ background-color:#f0f6fb; background:#f0f6fb;}

.sos .active 		{ background:#00426b; color:#fff;}
.sos .active:hover { background:#114f80; color:#fff;}


/* XXXXXXXXXXXXXXXXXXXXXXXXX  Panal Styles XXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


.sos .card-header 	  			{ color: #fff; background-color: #00426b; }
.sos .card-header 	a 			{ color: #fff; background-color: #00426b; }
.sos .card-header 	small   { color: #fff; background-color: #00426b; }
.sos .card-body             { border-color: #00426b; }

/*--- ##########################################  Back to top  Mods to State Styles --- border: 1px solid #273640; color: #ffffff; background-color: #00426b;*/
.back-to-top 					{ display: inline-block; }















/*  ##############################   Old Event Styles ####################################################################  */

.dos-event + .dos-event { padding-top: 2em; }
.dos-event 							{ margin-bottom: 25px; /* background: #fafafa;*/}
.dos-event .row 				{ padding: 25px 10px; margin: 0; border: solid 1px #00426b; border-radius: 10px;/*border-bottom: none; */ }
.dos-event-date 				{ text-align: center;}

@media screen and (max-width: 39.9375em) {
  .dos-event-date 			{ font-size: .8rem; }
}

.dos-event-date span 		{ display: block; text-transform: uppercase; }
.dos-event-flag 				{ color: #c8922b; font-size: .9em; font-weight: 600; }
.dos-event-month 				{ color: #3141eb; /*#c8922b;*/ font-size: .9em; font-weight: 700;}
.dos-event-day 					{ font-size: 3.5em; line-height: 1.1em; font-weight: 600;}

.dos-event-year { font-size: .9em; }
.dos-event-division { font-weight: bold; font-size: 1.2em;}
.dos-event-time { font-size: .9em; }
.dos-event-time .fa { color: #3141eb;   /*#c8922b;*/ font-size: 1.25em; }
.dos-event-title { font-weight: bold; }
.dos-event-title .fa {font-size: 75%; margin-left: 10px;}

/*.dos-event-shareBar {border: solid 2px #3141eb;   #c8922b;    padding: 10px 20px;}*/

@media screen and (max-width: 39.9375em) {
 .dos-event-shareBar {padding: 10px;}
}

.dos-event-shareBar .share-title {font-size: .8em;}

.dos-event-shareBar .pull-right span {
  display: inline-block;
  margin-top: 3px;
  margin-left: 8px;
}

.dos-event-shareBar .pull-right a {
  color: #c8922b;
  font-size: .9em;
}

.dos-event-shareBar .fa {
  font-size: 1.25em;
  color: #c8922b;
  margin-right: 10px;
}

@media screen and (max-width: 39.9375em) {
.dos-event-shareBar .fa {
    font-size: .8em;
    margin-right: 5px;
  }
}

.dos-event-shareBar .cal-link {
  margin: 0;
}

.dos-event-shareBar .cal-link a {
  font-size: .8em;
  display: inline-block;
  margin: 0;
  float: none;
  color: #c8922b;
  background: none;
}

.dos-event-shareBar .cal-link .fa {
  color: #192857;
}

.dos-event-top .cal-link .fa {
  font-size: .8em;
  display: inline-block;
  margin: 0;
  float: none;
  color: #c8922b;
  background: none;
}


